name: Terraform Deployment

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: latest

    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Install JQ
      run: sudo apt-get install -y jq

    - name: Terraform Init
      run: terraform init -upgrade

    - name: Terraform Plan
      run: terraform plan -out=tfplan

    - name: Terraform Apply
      env:
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      run: terraform apply -auto-approve tfplan

    - name: Outputting Terraform Outputs to JSON file
      run: |
        echo "Outputting Terraform Outputs to JSON file..."
        terraform output -json > tf_outputs.json
      continue-on-error: true

    - name: Debugging Terraform Outputs on failure
      if: failure()
      run: |
        echo "Debugging Terraform Outputs on failure"
        echo "Contents of tf_outputs.json:"
        cat tf_outputs.json
      continue-on-error: true

    - name: Upload Terraform Outputs
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: tf_outputs
        path: tf_outputs.json
